body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(../../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(1, 1, 20, 0.9);
    overflow: hidden;
}

.welcomeNote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

span {
  font-family: 'Times New Roman',serif;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline #cb9b51;
  background-image: linear-gradient(
                        to right,
                      	#462d23 0,
                      	#cb9b51 22%, 
                      	#f6e27a 45%,
                      	#f6f2c0 50%,
                      	#f6e27a 55%,
                      	#cb9b51 78%,
                        #462523 100%
                    );
  color:transparent;
  -webkit-background-clip:text;
}

.main-hadding {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #d3bb46;
}

.filter {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.centralGovernment {
    margin-left: 25px;
    margin-top: 50px;
    height: 450px;
    width: 500px;
    border: .5px solid #000;
    background-color: rgba(0, 0, 0, .5);
}

.centralGovernment img {
    width: 500px;
}

.centralGovernment button {
    margin: 10px 25px;
    width: 450px;
    height: 70px;
    background: rgba(94, 48, 245, 0.2);
    outline: none;
    border: none;
    color: #f6e27a;
    font-size: 24px;
    border-radius: 40px;
    cursor: pointer;
}

.centralGovernment button:hover {
    background: rgba(94, 48, 245, .8);
}

.centralGovernment button:focus {
    background-color: #f1d755;
    color: #5E30F5;
}

.stateGovernment {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 1.5%;
    border: 1px solid #000;
    height: 570px;
    width: 960px;
    background-color: rgba(0, 0, 0, .5);
}

.list {
    margin: 0;
}

.list ul li {
    list-style: none;
}

.list button {
    margin: 5px;
    width: 260px;
    height: 43px;
    border-radius: 20px;
    color: #f1d755;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: rgba(94, 48, 245, 0.2);
    border: none;
    outline: none;
    cursor: pointer;
}

.list button:hover {
    background-color: rgba(94, 48, 245, .8);
}

.list button:focus {
    background-color: #f1d755;
    color: #5E30F5;
}

marquee {
    position: fixed;
    bottom: 3%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1d755;
}