body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(../../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(1, 1, 20, 0.9);
    overflow: hidden;
}

.welcomeNote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

span {
    font-family: 'Times New Roman',serif;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline #cb9b51;
    background-image: linear-gradient(
	                        to right,
                        	#462d23 0,
                           	#cb9b51 22%, 
                        	#f6e27a 45%,
                        	#f6f2c0 50%,
                        	#f6e27a 55%,
                        	#cb9b51 78%,
	                        #462523 100%
	                    );
   color:transparent;
   -webkit-background-clip:text;
}

.main-hadding {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d3bb46;
}

.use-keyboard-input {
    position: fixed;
    left: 30%;
    top: 26%;
    width: 500px;
    height: 70px;
    padding: 0 45px;
    font-size: 40px;
    letter-spacing: 5px;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    border: 0.5px solid #cb9b51;
    cursor: pointer;
}

.advisory {
    position: fixed;
    left: 31%;
    top: 35%;
    color: rgb(129, 127, 127);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}

.use-keyboard-input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 20%;
    width: 100%;
    padding: 5px 0;
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 50px;
    width: 10%;
    max-width: 100px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(94, 48, 245, 0.6);
    color: #cb9b51;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

.nextButton {
    height: 70px;
    width: 300px;
    position: fixed;
    margin-left: 520px;
    bottom: 10%;
    font-size: 26px;
    border: none;
    outline: none;
    border-radius: 50px;
    color: #f1d755;
    background-color: #5E30F5;
    cursor: pointer;
}

.nextButton:hover {
    background-color: #311983;
    color: #ecc810;
}

.nextButton:focus {
    background-color: #f1d755;
    color: #5E30F5;
}

marquee {
    position: fixed;
    left: 0;
    bottom: 3.5%;
    margin-top: 130px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1d755;
}
